
<div id="{$_name}" class="{$class} row" style="{$style}" >
    {category_list}
    {rows}{row}
    <a href="{$url}">
    <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4" style="margin-bottom: 30px;">
        <div xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: 100%; margin: 0px auto;" xepan-component-name="Container" class="xepan-component xepan-sortable-component xepan-cms-container flat-testimonial">
            <!-- <div xepan-component="xepan/cms/Tool_Image" xepan-component-name="Image" class="xepan-component" style="width: 100%;"> -->
                <img class="categoryimg" src="{$cat_image}" />
            <!-- </div> -->
            <h6 data-mce-style="text-align: center;" style="text-align: center;">{$name}<br></h6>
            <button class="btn btn-block">
                <i class="fa fa-arrow-right"></i> Shop {$name} Now
            </button>
        </div>
        {$nested_category}
    </div>
    </a>
    {/}{/}
    {/category_list}
</div>